aiohttp==3.6.2
aiohttp-jinja2==1.2.0
aiohttp-security==0.4.0
aiohttp-session==2.9.0
astroid==2.4.2
async-timeout==3.0.1
asyncpg==0.22.0
attrs==20.1.0
cffi==1.14.2
chardet==3.0.4
cryptography==3.0
greenlet==1.0.0
idna==2.10
importlib-metadata==4.0.1
isort==5.6.4
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.6
passlib==1.7.4
psycopg2-binary==2.8.6
pybind11==2.6.1
pycparser==2.20
pylint==2.6.0
six==1.15.0
SQLAlchemy==1.4.13
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.10.0.0
wrapt==1.12.1
xo-app==0.1.0
yarl==1.5.1
zipp==3.4.1
