<H1>My super XO game</H1>
<!-- The navigation menu -->
<div class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/wait_game">Play</a>
  <a href="/history">History</a>
  {% if not auth %}
    <button class="login-button" id="login-button" onclick="openLoginForm()">Login</button>
    {% include 'login_form.html' %}
    <button class="register-button" id="register-button" onclick="openRegisterForm()">Register</button>
    {% include 'register_form.html' %}
  {% else %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <button class="logout-button" id="logout-button" onclick="logout()">
      Logout <i class="fa fa-sign-out"></i>
    </button>
    <a class="user" href="#">Hello, {{ variable }}.</a>
  {% endif %}

</div>