<H1>My super XO game</H1>
<!-- The navigation menu -->
<div class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/wait_game">Play</a>
  <a href="/history">History</a>
  {% if not auth %}
    <button class="navbar-button" id="login-button" onclick="openLoginForm()">Login</button>
    {% include 'login_form.html' %}
    <button class="navbar-button" id="register-button" onclick="openRegisterForm()">Register</button>
    {% include 'register_form.html' %}
  {% else %}
    {% include 'logout_form.html' %}
    <a class="user" href="#">Hello, {{ variable }}.</a>
  {% endif %}

</div>