<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" href="static/favicon.ico" />
    <title>My Webpage</title>
</head>
<body>
    <div id="header">
        {% include 'header.html' %}
    </div>
    <div id="content">
        <textarea id="debug" rows="10" cols="80" name="text"></textarea>
{% if variable %}
	<p>Variable is set and equals {{ variable }}.</p>
{% else %}
	<p>Variable is not set.</p>
{% endif %}
	</div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>
