<div id = "new-game">
    <form id = "new-game-form">
        <H2> Start a new game: </H2>
          <div>
            <button type="submit" class="btn" onclick="">Send a challenge to another player</button>
            <button type="submit" class="btn" onclick="">Play with a random player</button>
            <button type="submit" class="btn" onclick="">Play with a bot</button>
        </div>
      <fieldset>
        <legend>Game settings:</legend>
        <div>
          <input type="radio" id="gameChoice1"
           name="entry-type" value="X">
          <label for="gameChoice1">Play as X</label>

          <input type="radio" id="gameChoice2"
           name="entry-type" value="O">
          <label for="gameChoice2">Play as O</label>

          <input type="radio" id="gameChoice3"
           name="entry-type" value="random" checked>
          <label for="gameChoice3">Play random</label>
        </div>
      </fieldset>
    </form>
</div>