  <div class="form-popup" id="registerForm">
    <form action="/user/register" class="form-container">
        <h1>Register</h1>
        <label for="login"><b>Login</b></label>
        <input type="text" placeholder="Enter login" name="login" required>

        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter password" name="password" required>

        <button type="submit" class="btn">Register</button>
        <button type="submit" class="btn cancel" onclick="closeRegisterForm()">Close</button>
    </form>
</div>