<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>My Webpage</title>
</head>
<body>
    <script src="static/sockets.js">

    </script>
    <div id="header">
        <H1>User {{user}} is connected and waiting game.</H1>
    </div>
    <div id="content">
        <input type="button" value="ready" onclick="send_ready()">
        <input type="button" value="move" onclick="send_move()">
        <input type="button" value="resign" onclick="send_resign()">
        <input type="button" value="offer" onclick="send_offer()">
        <textarea id="debug" rows="10" cols="80" name="text"></textarea>
	</div>
    <div id="footer">
    </div>
</body>
</html>