<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/style.css" />
    <title>My Webpage</title>
</head>
<body>
    <div id="header">
        {% include 'header.html' %}
        <H1>User {{user}} is connected and waiting game.</H1>
    </div>
    <div id = content>
        <H2> Active users: </H2>
        <div id = active-users-list>
        </div>
        <script src="static/activeUsersList.js"></script>
    </div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>